In [1]:
# print the type of x,y,z

x = 1  
y = 2.8  
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [2]:
# Convert flot into int 

X=1.4
x=int(X)
print(x)

1

In [5]:
#Convert from one type to another:

x = 5   # int
y = 3.8  # float
z = 5j   # complex

#convert from int to float:
x=float(5)

#convert from float to int:
y=int(3.8)

#convert from int to complex:
z=complex(5j)

In [12]:
# Print 15 random numbers

import random

list=[]
for i in range(0,15):
  print(random.randrange(1, 15) )

13
3
12
13
9
7
2
10
2
14
2
10
10
12
2

In [25]:
# Convert int ,float to string 

x = str("t5") 
y = str(4)    
z = str(6.0)
print(x +" "+y+" "+z)
print(type(z))

t5 4 6.0
<class 'str'>

In [26]:
# Assign a string to variable 

a="String to variable"
print(a)

String to variable

In [28]:
# Concatenate two string 
a="Hello raj?"
b="Hi Manish."
c="How are you."
d="I am fine."

print(a+" "+b+" "+c+" "+d)

Hello raj? Hi Manish. How are you. I am fine.

In [30]:
# Print the output='lo, Wor'
a = "Hello, World!"
print(a[3:10])

lo, Wor

In [32]:
# Check the required string/word is in the sentence of not

Sentence="Hello Indian , I like you culture."

print('like' in Sentence)

True

In [33]:
# Print the output='I Love'
Sentence="I Love India!"
print(Sentence[0:6])

I Love

In [36]:
#print the output: 
#I want to pay 49.95 dollars for 3 pieces of item 567

quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity,itemno,price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [38]:
# remove the error
Sent = '''We will vist "America" after two days.'''
print(Sent)

We will vist "America" after two days.

In [39]:
# Print the sentence after comma in next line 
Sent=" Hii Mona , \nWhen will we go for holidays ?  "
print(Sent)

 Hii Mona ,
When will we go for holidays ?

In [ ]:
# Remove the duplicate from the list 
List=["Ram",'Sam','Nick','Sam']

In [40]:
# Print last for element of list by negative Indexing 

Fruit_list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(Fruit_list[-4:])

['orange', 'kiwi', 'melon', 'mango']

In [44]:
# Replace the first Sam from Micky
List=["Ram",'Sam','Nick','Sam']
List[1]="Py"
List

['Ram', 'Py', 'Nick', 'Sam']

In [45]:
 # Insert the Micky at 3rd index
List=["Ram",'Sam','Nick','Sam']
List[2]="Micky"
List

['Ram', 'Sam', 'Micky', 'Sam']

In [57]:
# Insert Kiwi in a tuple

x = ("apple", "banana", "cherry");
yList = List(x)
yList
y.append("kiwi")
x1 = tuple(y)

print(x1)

AttributeError: ignored

In [60]:
# Add item in set

Fruits = {"apple", "banana", "cherry"}

Fruits.add("potato")

print(Fruits)

{'potato', 'apple', 'banana', 'cherry'}

In [64]:
# Add two set
Fruit1 = {"apple", "banana", "cherry"}
Fruit2 = {"pineapple", "mango", "papaya"}
Fruit1.update(Fruit2)
Fruit1

{'apple', 'banana', 'cherry', 'mango', 'papaya', 'pineapple'}

In [70]:
# Remove the any item from the set
set1={"Krishh","Prince","KUmar"}
set1.pop()
set1.remove("KUmar")
set1

{'Prince'}

In [71]:
#Add a new item to the original dictionary, and see that the keys list gets updated as well:
Bike = {
"brand": "Bajaj",
"model": "TVS",
"year": 2013
}

x = Bike.keys()

print(x) #before the change

Bike["CC"] = 150

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'CC'])

In [73]:
#Update the item from the Dict
Car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
Car["year"]= 2020
print(Car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [76]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["citing Capacity"]=2
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'citing Capacity': 2}