In [ ]:
print("Python Learning")

Python Learning

Python uses indentation to indicate a block of code.

In [ ]:
#This is a comment
print("# is used to comment a line")

# is used to comment a line

In [ ]:
#This is a comment
#written in
#more than just one line
print("To add a multiline comment you could insert a # for each line , Since Python will ignore string literals '\n'that are not assigned to a variable,you can add a multiline string (triple quotes) in your code, and place your comment inside it")

To add a multiline comment you could insert a # for each line , Since Python will ignore string literals '
'that are not assigned to a variable,you can add a multiline string (triple quotes) in your code, and place your comment inside it

Variables are containers for storing data values.
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.
Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
x = 4       # x is of type int
print(x)
x = "String" # x is now of type str
print(x)

4
String

In [ ]:
#If you want to specify the data type of a variable, this can be done with casting.
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [ ]:
print(x)
print(y)
print(z)

3
3
3.0

In [ ]:
#You can get the data type of a variable with the type() function.
x = 10
y = "String"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
#Variable names are case-sensitive.
a = 4
A = "Sally"
#A will not overwrite a 
print(a)
print(A)

4
Sally

In [ ]:
# A variable name must start with a letter or the underscore character
# A variable name cannot start with a number
# A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
# Variable names are case-sensitive (age, Age and AGE are three different variables)
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
# Python allows you to assign values to multiple variables in one line
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
# you can assign the same value to multiple variables in one line
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
# If you have a collection of values in a list, tuple etc. Python allows you extract the values into variables. This is called unpacking.
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
# To combine both text and a variable, Python uses the + character
x = "awesome"
print("Python is " + x)
x = "Python is "
y = "awesome"
z =  x + y
print(z)
x = 5
y = 10
print(x + y)
x = 5
y = "John"
print(x + y) #this generates error

Python is awesome
Python is awesome
15

TypeError: ignored

In [ ]:
# Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.
# To create a global variable inside a function, you can use the global keyword.
def myfunc():
  global x
  x = "variable declared as global inside a function"

myfunc()

print("Gloabl varibale inside function " + x)

Gloabl varibale inside function variable declared as global inside a function

In [ ]:
# To change the value of a global variable inside a function, refer to the variable by using the global keyword
x = "global"

def myfunc():
  global x
  x = "global variable value changed inside function "

myfunc()

print("Variable X is global variable but  " + x)

Variable X is global variable but  global variable value changed inside function

**Variables can store data of different types, and different types can do different things.**

Python has the following data types built-in by default, in these categories:
Text Type: 	str

Numeric Types: 	int, float, complex

Sequence Types: 	list, tuple, range

Mapping Type: 	dict

Set Types: 	set, frozenset

Boolean Type: 	bool

Binary Types: 	bytes, bytearray, memoryview

In [ ]:
#examples
x = b"Hello"
print(x)

b'Hello'

In [ ]:
x = frozenset({"apple", "banana", "cherry"})
x

frozenset({'apple', 'banana', 'cherry'})

In [ ]:
# Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers
import random

print(random.randrange(1, 10))

1

***List***

Lists are used to store multiple items in a single variable.
Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
# List items are ordered, changeable, and allow duplicate values.
# List items are indexed, the first item has index [0], the second item has index [1] etc.

print("***** Add item using append() :")
# If you add new items to a list, the new items will be placed at the end of the list.
# To add an item to the end of the list, use the append() method
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)
# To append elements from another list to the current list, use the extend() method.
print("***** Add list to another list using extend() :")
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)
# The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.)
print("***** Add items from any sequence to list using extend() :")
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)


# The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.
# To change the value of a specific item, refer to the index number
print("***** Change item using index number :")
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)
# To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values
print("***** Replace item using index range :")
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)
# If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly
print("***** Replace item using index range and add element if more items than inserted than number of items replaced :")
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
# print(thislist) If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly
print("***** Replace item and shift list :")
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist) 
# To insert a new list item, without replacing any of the existing values, we can use the insert() method.
# The insert() method inserts an item at the specified index
print("***** Change item using insert() :")
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

# The remove() method removes the specified item.
print("***** Remove element using remove() - using element value :")
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)
# The pop() method removes the specified index.
print("***** Remove element using pop() - using index number to be removed :")
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)
# If you do not specify the index, the pop() method removes the last item.
print("***** Remove element using pop() - last element:")
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)
# The del keyword also removes the specified index
print("***** Delete element using 'del' keyword and index:")
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)
# The del keyword can also delete the list completely.
print("***** delete list:")
thislist = ["apple", "banana", "cherry"]
del thislist 
# The clear() method empties the list.
# The list still remains, but it has no content.
print("Clear list items, but preserve list name")
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)




# Since lists are indexed, lists can have items with the same value
# List items are indexed and you can access them by referring to the index number
thislist = ["apple", "banana", "cherry"]
print(thislist[1])
# Negative indexing
print(thislist[-1])
# You can specify a range of indexes by specifying where to start and where to end the range.
# When specifying a range, the return value will be a new list with the specified items.
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])
# By leaving out the start value, the range will start at the first item
print(thislist[:4])
# By leaving out the end value, the range will go on to the end of the list
print(thislist[2:])
# Specify negative indexes if you want to start the search from the end of the list
print(thislist[-4:-1])
# To determine if a specified item is present in a list use the in keyword
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list") 


# To determine how many items a list has, use the len() function
print(len(thislist))

# A list can contain different data types
list1 = ["abc", 34, True, 40, "male"]
print(list1)

# It is also possible to use the list() constructor when creating a new list.
list2 = list(("apple", "banana", "cherry")) # note the double round-brackets
print(list2)

***** Add item using append() :
['apple', 'banana', 'cherry', 'orange']
***** Add list to another list using extend() :
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
***** Add items from any sequence to list using extend() :
['apple', 'banana', 'cherry', 'kiwi', 'orange']
***** Change item using index number :
['apple', 'blackcurrant', 'cherry']
***** Replace item using index range :
['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']
***** Replace item using index range and add element if more items than inserted than number of items replaced :
***** Replace item and shift list :
['apple', 'watermelon']
***** Change item using insert() :
['apple', 'banana', 'watermelon', 'cherry']
***** Remove element using remove() - using element value :
['apple', 'cherry']
***** Remove element using pop() - using index number to be removed :
['apple', 'cherry']
***** Remove element using pop() - last element:
['apple', 'banana']
***** Delete element using 'del' keyword and index:
['banana', 'cherry']
***** delete list:
Clear list items, but preserve list name
[]
banana
cherry
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']
Yes, 'apple' is in the fruits list
7
['abc', 34, True, 40, 'male']
['apple', 'banana', 'cherry']

In [ ]:
# You can loop through the list items by using a for loop
print("***** You can loop through the list items by using a for loop :")
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x) 

# You can also loop through the list items by referring to their index number.
# Use the range() and len() functions to create a suitable iterable.
print("***** You can loop through the list items by using index numbers :")
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i]) 

# You can loop through the list items by using a while loop.
# Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by refering to their indexes.
# Increase the index by 1 after each iteration.
print("***** You can loop through the list items by using a while loop :")
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

# List Comprehension offers the shortest syntax for looping through lists
print("***** You can loop through the list items by using list comprehension:")
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

***** You can loop through the list items by using a for loop :
apple
banana
cherry
***** You can loop through the list items by using index numbers :
apple
banana
cherry
***** You can loop through the list items by using a while loop :
apple
banana
cherry
***** You can loop through the list items by using list comprehension:
apple
banana
cherry

[None, None, None]

**List Comprehension**

In [ ]:
# List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.
print("*** create new list from existing list using list comprehension **** ")

# Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

# using for loop
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)


# using list comprehension
# Syntax :      newlist = [expression for item in iterable if condition == True]
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

# print(newlist)

*** create new list from existing list using list comprehension ****
['apple', 'banana', 'mango']

The condition is like a filter that only accepts the items that evaluate to True.

newlist = [x for x in fruits if x != "apple"] 

The condition is optional and can be omitted:

newlist = [x for x in fruits]

The iterable can be any iterable object, like a list, tuple, set etc.

You can use the range() function to create an iterable--

newlist = [x for x in range(10)] 

newlist = [x for x in range(10) if x < 5]  #with condition

The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list

newlist = [x.upper() for x in fruits]

You can set the outcome to whatever you like

newlist = ['hello' for x in fruits]

The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome

newlist = [x if x != "banana" else "orange" for x in fruits]

In [ ]:
# Sort()

# List objects have a sort() method that will sort the list alphanumerically, ascending, by default
print("********* Sorting list *********")
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)


# Sort the list numerically
print("***********Sort the list numerically*********")
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

# To sort descending, use the keyword argument reverse = True
print("********** Sort in descending order**********")
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

********* Sorting list *********
['banana', 'kiwi', 'mango', 'orange', 'pineapple']
***********Sort the list numerically*********
[23, 50, 65, 82, 100]
********** Sort in descending order**********
['pineapple', 'orange', 'mango', 'kiwi', 'banana']

You can also customize your own function by using the keyword argument key = function.

The function will return a number that will be used to sort the list (the lowest number first)

In [ ]:
# Sort the list based on how close the number is to 50
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
print("Original List")
print(thislist)
thislist.sort(key = myfunc)
print("Sorted list  based on closeliness with ref to 50")
print(thislist)

Original List
[100, 50, 65, 82, 23]
Sorted list  based on closeliness with ref to 50
[50, 65, 23, 82, 100]

In [ ]:
# If you want a case-insensitive sort function, use str.lower as a key function
print("case insensitive sorting")
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

case insensitive sorting
['banana', 'cherry', 'Kiwi', 'Orange']

In [ ]:
# The reverse() method reverses the current order of the elements.
thislist = ["banana", "Orange", "Kiwi", "cherry"]
print(thislist)
thislist.reverse()
print(thislist)

['banana', 'Orange', 'Kiwi', 'cherry']
['cherry', 'Kiwi', 'Orange', 'banana']

In [ ]:
# Copy a List
print("Copy a List")

print(" Using copy() method")
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

print(" Using list() method")
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

Copy a List
 Using copy() method
['apple', 'banana', 'cherry']
 Using list() method
['apple', 'banana', 'cherry']

In [ ]:
# Join or concatenate two or more list using + operator, extend() method or append() method

print("****** Join or concatenate two or more list using + operator ******")
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3) 


print(" ****** Join or concatenate two or more list using append() ******")
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3, 4, 5]

for x in list2:
  list1.append(x)

print(list1) 


print("****** Join or concatenate two or more list using extend() ******")
list1 = ["a", "b" , "c"]
list2 = [7, 8, 9, 1, 2, 3]

list1.extend(list2)
print(list1)

****** Join or concatenate two or more list using + operator ******
['a', 'b', 'c', 1, 2, 3]
 ****** Join or concatenate two or more list using append() ******
['a', 'b', 'c', 1, 2, 3, 4, 5]
****** Join or concatenate two or more list using extend() ******
['a', 'b', 'c', 7, 8, 9, 1, 2, 3]

List count() Method

In [ ]:
# Return the number of times the value "cherry" appears in the fruits list
fruits = ['apple', 'banana', 'cherry']
x = fruits.count("cherry")
x

1

In [ ]:
# Return the number of times the value 9 appears int the list
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]
x = points.count(9)
x

2

List index() Method

In [ ]:
# What is the position of the value "cherry"
fruits = ['apple', 'banana', 'cherry']
x = fruits.index("cherry")
print(x)


fruits = [4, 55, 64, 32, 16, 32]
x = fruits.index(32)
print(x)

2
3

**Tuple**

In [ ]:
mytuple = ("apple", "banana", "cherry")
mytuple

('apple', 'banana', 'cherry')

Tuple items are ordered, unchangeable, and allow duplicate values.Tuples are written with round brackets.
Tuple items are indexed, the first item has index [0], the second item has index [1] etc.
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

In [ ]:
# To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
# Tuple items can be of any data type
# String, int and boolean data types
# A tuple can contain different data types
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple1 = ("abc", 34, True, 40, "male")

In [ ]:
# It is also possible to use the tuple() constructor to make a tuple.
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

*Access Tuple Items*

In [ ]:
# You can access tuple items by referring to the index number, inside square brackets
# Negative indexing means start from the end.
# -1 refers to the last item, -2 refers to the second last item etc.
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])
print(thistuple[-1])
# You can specify a range of indexes by specifying where to start and where to end the range.
# When specifying a range, the return value will be a new tuple with the specified items.
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])
# To determine if a specified item is present in a tuple use the in keyword
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

banana
cherry
('cherry', 'orange', 'kiwi')
Yes, 'apple' is in the fruits tuple

Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.
But there are some workarounds. 
Tuples are unchangeable, or immutable as it also is called.

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
# Since tuples are immutable, they do not have a build-in append() method, but there are other ways to add items to a tuple.