In [ ]:
print("Python Learning")

Python Learning

Python uses indentation to indicate a block of code.

In [ ]:
#This is a comment
print("# is used to comment a line")

# is used to comment a line

In [ ]:
#This is a comment
#written in
#more than just one line
print("To add a multiline comment you could insert a # for each line , Since Python will ignore string literals '\n'that are not assigned to a variable,you can add a multiline string (triple quotes) in your code, and place your comment inside it")

To add a multiline comment you could insert a # for each line , Since Python will ignore string literals '
'that are not assigned to a variable,you can add a multiline string (triple quotes) in your code, and place your comment inside it

Variables are containers for storing data values.
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.
Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
x = 4       # x is of type int
print(x)
x = "String" # x is now of type str
print(x)

4
String

In [ ]:
#If you want to specify the data type of a variable, this can be done with casting.
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [ ]:
print(x)
print(y)
print(z)

3
3
3.0

In [ ]:
#You can get the data type of a variable with the type() function.
x = 10
y = "String"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
#Variable names are case-sensitive.
a = 4
A = "Sally"
#A will not overwrite a 
print(a)
print(A)

4
Sally

In [ ]:
# A variable name must start with a letter or the underscore character
# A variable name cannot start with a number
# A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
# Variable names are case-sensitive (age, Age and AGE are three different variables)
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
# Python allows you to assign values to multiple variables in one line
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
# you can assign the same value to multiple variables in one line
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
# If you have a collection of values in a list, tuple etc. Python allows you extract the values into variables. This is called unpacking.
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
# To combine both text and a variable, Python uses the + character
x = "awesome"
print("Python is " + x)
x = "Python is "
y = "awesome"
z =  x + y
print(z)
x = 5
y = 10
print(x + y)
x = 5
y = "John"
print(x + y) #this generates error

Python is awesome
Python is awesome
15

TypeError: ignored

In [ ]:
# Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.
# To create a global variable inside a function, you can use the global keyword.
def myfunc():
  global x
  x = "variable declared as global inside a function"

myfunc()

print("Gloabl varibale inside function " + x)

Gloabl varibale inside function variable declared as global inside a function

In [ ]:
# To change the value of a global variable inside a function, refer to the variable by using the global keyword
x = "global"

def myfunc():
  global x
  x = "global variable value changed inside function "

myfunc()

print("Variable X is global variable but  " + x)

Variable X is global variable but  global variable value changed inside function

**Variables can store data of different types, and different types can do different things.**

Python has the following data types built-in by default, in these categories:
Text Type: 	str

Numeric Types: 	int, float, complex

Sequence Types: 	list, tuple, range

Mapping Type: 	dict

Set Types: 	set, frozenset

Boolean Type: 	bool

Binary Types: 	bytes, bytearray, memoryview

In [ ]:
#examples
x = b"Hello"
print(x)

b'Hello'

In [ ]:
x = frozenset({"apple", "banana", "cherry"})
x

frozenset({'apple', 'banana', 'cherry'})

In [ ]:
# Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers
import random

print(random.randrange(1, 10))

1

***List***

Lists are used to store multiple items in a single variable.
Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
# List items are ordered, changeable, and allow duplicate values.
# List items are indexed, the first item has index [0], the second item has index [1] etc.

print("***** Add item using append() :")
# If you add new items to a list, the new items will be placed at the end of the list.
# To add an item to the end of the list, use the append() method
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)
# To append elements from another list to the current list, use the extend() method.
print("***** Add list to another list using extend() :")
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)
# The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.)
print("***** Add items from any sequence to list using extend() :")
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)


# The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.
# To change the value of a specific item, refer to the index number
print("***** Change item using index number :")
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)
# To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values
print("***** Replace item using index range :")
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)
# If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly
print("***** Replace item using index range and add element if more items than inserted than number of items replaced :")
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
# print(thislist) If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly
print("***** Replace item and shift list :")
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist) 
# To insert a new list item, without replacing any of the existing values, we can use the insert() method.
# The insert() method inserts an item at the specified index
print("***** Change item using insert() :")
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

# The remove() method removes the specified item.
print("***** Remove element using remove() - using element value :")
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)
# The pop() method removes the specified index.
print("***** Remove element using pop() - using index number to be removed :")
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)
# If you do not specify the index, the pop() method removes the last item.
print("***** Remove element using pop() - last element:")
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)
# The del keyword also removes the specified index
print("***** Delete element using 'del' keyword and index:")
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)
# The del keyword can also delete the list completely.
print("***** delete list:")
thislist = ["apple", "banana", "cherry"]
del thislist 
# The clear() method empties the list.
# The list still remains, but it has no content.
print("Clear list items, but preserve list name")
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)




# Since lists are indexed, lists can have items with the same value
# List items are indexed and you can access them by referring to the index number
thislist = ["apple", "banana", "cherry"]
print(thislist[1])
# Negative indexing
print(thislist[-1])
# You can specify a range of indexes by specifying where to start and where to end the range.
# When specifying a range, the return value will be a new list with the specified items.
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])
# By leaving out the start value, the range will start at the first item
print(thislist[:4])
# By leaving out the end value, the range will go on to the end of the list
print(thislist[2:])
# Specify negative indexes if you want to start the search from the end of the list
print(thislist[-4:-1])
# To determine if a specified item is present in a list use the in keyword
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list") 


# To determine how many items a list has, use the len() function
print(len(thislist))

# A list can contain different data types
list1 = ["abc", 34, True, 40, "male"]
print(list1)

# It is also possible to use the list() constructor when creating a new list.
list2 = list(("apple", "banana", "cherry")) # note the double round-brackets
print(list2)

***** Add item using append() :
['apple', 'banana', 'cherry', 'orange']
***** Add list to another list using extend() :
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
***** Add items from any sequence to list using extend() :
['apple', 'banana', 'cherry', 'kiwi', 'orange']
***** Change item using index number :
['apple', 'blackcurrant', 'cherry']
***** Replace item using index range :
['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']
***** Replace item using index range and add element if more items than inserted than number of items replaced :
***** Replace item and shift list :
['apple', 'watermelon']
***** Change item using insert() :
['apple', 'banana', 'watermelon', 'cherry']
***** Remove element using remove() - using element value :
['apple', 'cherry']
***** Remove element using pop() - using index number to be removed :
['apple', 'cherry']
***** Remove element using pop() - last element:
['apple', 'banana']
***** Delete element using 'del' keyword and index:
['banana', 'cherry']
***** delete list:
Clear list items, but preserve list name
[]
banana
cherry
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']
Yes, 'apple' is in the fruits list
7
['abc', 34, True, 40, 'male']
['apple', 'banana', 'cherry']

In [ ]:
# You can loop through the list items by using a for loop
print("***** You can loop through the list items by using a for loop :")
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x) 

# You can also loop through the list items by referring to their index number.
# Use the range() and len() functions to create a suitable iterable.
print("***** You can loop through the list items by using index numbers :")
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i]) 

# You can loop through the list items by using a while loop.
# Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by refering to their indexes.
# Increase the index by 1 after each iteration.
print("***** You can loop through the list items by using a while loop :")
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

# List Comprehension offers the shortest syntax for looping through lists
print("***** You can loop through the list items by using list comprehension:")
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

***** You can loop through the list items by using a for loop :
apple
banana
cherry
***** You can loop through the list items by using index numbers :
apple
banana
cherry
***** You can loop through the list items by using a while loop :
apple
banana
cherry
***** You can loop through the list items by using list comprehension:
apple
banana
cherry

[None, None, None]

**List Comprehension**

In [ ]:
# List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.
print("*** create new list from existing list using list comprehension **** ")

# Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

# using for loop
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)


# using list comprehension
# Syntax :      newlist = [expression for item in iterable if condition == True]
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

# print(newlist)

*** create new list from existing list using list comprehension ****
['apple', 'banana', 'mango']

The condition is like a filter that only accepts the items that evaluate to True.

newlist = [x for x in fruits if x != "apple"] 

The condition is optional and can be omitted:

newlist = [x for x in fruits]

The iterable can be any iterable object, like a list, tuple, set etc.

You can use the range() function to create an iterable--

newlist = [x for x in range(10)] 

newlist = [x for x in range(10) if x < 5]  #with condition

The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list

newlist = [x.upper() for x in fruits]

You can set the outcome to whatever you like

newlist = ['hello' for x in fruits]

The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome

newlist = [x if x != "banana" else "orange" for x in fruits]

In [ ]:
# Sort()

# List objects have a sort() method that will sort the list alphanumerically, ascending, by default
print("********* Sorting list *********")
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)


# Sort the list numerically
print("***********Sort the list numerically*********")
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

# To sort descending, use the keyword argument reverse = True
print("********** Sort in descending order**********")
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

********* Sorting list *********
['banana', 'kiwi', 'mango', 'orange', 'pineapple']
***********Sort the list numerically*********
[23, 50, 65, 82, 100]
********** Sort in descending order**********
['pineapple', 'orange', 'mango', 'kiwi', 'banana']

You can also customize your own function by using the keyword argument key = function.

The function will return a number that will be used to sort the list (the lowest number first)

In [ ]:
# Sort the list based on how close the number is to 50
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
print("Original List")
print(thislist)
thislist.sort(key = myfunc)
print("Sorted list  based on closeliness with ref to 50")
print(thislist)

Original List
[100, 50, 65, 82, 23]
Sorted list  based on closeliness with ref to 50
[50, 65, 23, 82, 100]

In [ ]:
# If you want a case-insensitive sort function, use str.lower as a key function
print("case insensitive sorting")
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

case insensitive sorting
['banana', 'cherry', 'Kiwi', 'Orange']

In [ ]:
# The reverse() method reverses the current order of the elements.
thislist = ["banana", "Orange", "Kiwi", "cherry"]
print(thislist)
thislist.reverse()
print(thislist)

['banana', 'Orange', 'Kiwi', 'cherry']
['cherry', 'Kiwi', 'Orange', 'banana']

In [ ]:
# Copy a List
print("Copy a List")

print(" Using copy() method")
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

print(" Using list() method")
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

Copy a List
 Using copy() method
['apple', 'banana', 'cherry']
 Using list() method
['apple', 'banana', 'cherry']

In [ ]:
# Join or concatenate two or more list using + operator, extend() method or append() method

print("****** Join or concatenate two or more list using + operator ******")
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3) 


print(" ****** Join or concatenate two or more list using append() ******")
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3, 4, 5]

for x in list2:
  list1.append(x)

print(list1) 


print("****** Join or concatenate two or more list using extend() ******")
list1 = ["a", "b" , "c"]
list2 = [7, 8, 9, 1, 2, 3]

list1.extend(list2)
print(list1)

****** Join or concatenate two or more list using + operator ******
['a', 'b', 'c', 1, 2, 3]
 ****** Join or concatenate two or more list using append() ******
['a', 'b', 'c', 1, 2, 3, 4, 5]
****** Join or concatenate two or more list using extend() ******
['a', 'b', 'c', 7, 8, 9, 1, 2, 3]

List count() Method

In [ ]:
# Return the number of times the value "cherry" appears in the fruits list
fruits = ['apple', 'banana', 'cherry']
x = fruits.count("cherry")
x

1

In [ ]:
# Return the number of times the value 9 appears int the list
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]
x = points.count(9)
x

2

List index() Method

In [ ]:
# What is the position of the value "cherry"
fruits = ['apple', 'banana', 'cherry']
x = fruits.index("cherry")
print(x)


fruits = [4, 55, 64, 32, 16, 32]
x = fruits.index(32)
print(x)

2
3

**Tuple**

In [ ]:
mytuple = ("apple", "banana", "cherry")
mytuple

('apple', 'banana', 'cherry')

Tuple items are ordered, unchangeable, and allow duplicate values.Tuples are written with round brackets.
Tuple items are indexed, the first item has index [0], the second item has index [1] etc.
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

In [ ]:
# To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
# Tuple items can be of any data type
# String, int and boolean data types
# A tuple can contain different data types
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple1 = ("abc", 34, True, 40, "male")

In [ ]:
# It is also possible to use the tuple() constructor to make a tuple.
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

*Access Tuple Items*

In [ ]:
# You can access tuple items by referring to the index number, inside square brackets
# Negative indexing means start from the end.
# -1 refers to the last item, -2 refers to the second last item etc.
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])
print(thistuple[-1])
# You can specify a range of indexes by specifying where to start and where to end the range.
# When specifying a range, the return value will be a new tuple with the specified items.
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])
# To determine if a specified item is present in a tuple use the in keyword
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

banana
cherry
('cherry', 'orange', 'kiwi')
Yes, 'apple' is in the fruits tuple

Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.
But there are some workarounds. 
Tuples are unchangeable, or immutable as it also is called.

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
# Since tuples are immutable, they do not have a build-in append() method, but there are other ways to add items to a tuple.
# 1. Convert into a list

# Convert the tuple into a list, add "orange", and convert it back into a tuple
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [ ]:
# 2. Add tuple to a tuple
# Create a new tuple with the value "orange", and add that tuple
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
# You cannot remove items in a tuple.
# Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items
# Convert the tuple into a list, remove "apple", and convert it back into a tuple
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

*Unpacking*

In [ ]:
# When we create a tuple, we normally assign values to it. This is called "packing" a tuple
# Packing a tuple
fruits = ("apple", "banana", "cherry")
# we are also allowed to extract the values back into variables. This is called "unpacking"
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

# The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

apple
banana
cherry

In [ ]:
# Assign the rest of the values as a list called "red"-- using Asterisk
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

Loop through tuple

In [ ]:
# Iterate through the items and print the values
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [ ]:
# Print all items by referring to their index number
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [ ]:
# Print all items, using a while loop to go through all the index numbers
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [ ]:
# Join two tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
# Multiply the fruits tuple by 2
fruits = ("apple", "banana", "cherry",4)
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 4, 'apple', 'banana', 'cherry', 4)

In [ ]:
# Return the number of times the value 5 appears in the tuple
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [ ]:
# Search for the first occurrence of the value 8, and return its position
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

**Set**

In [ ]:
# Sets are used to store multiple items in a single variable.
# A set is a collection which is unordered, unchangeable*, and unindexed.
# Set items are unchangeable, but you can remove items and add new items.

# Create a Set
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [ ]:
# Duplicate values will be ignored
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [ ]:
# Get the number of items in a set
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [ ]:
# String, int and boolean data types
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [ ]:
# A set with strings, integers and boolan values:
set1 = {"abc", 34, True, 40, "male"}

In [ ]:
# Using the set() constructor to make a set
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}

In [ ]:
# Access Items
# You cannot access items in a set by referring to an index or a key.
# But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

# Loop through the set, and print the values
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

In [ ]:
# Check if "banana" is present in the set
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [1]:
# Once a set is created, you cannot change its items, but you can add new items.
# To add one item to a set use the add() method.
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'banana', 'orange', 'cherry', 'apple'}

In [2]:
# To add items from another set into the current set, use the update() method.
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)
print(thisset)

{'mango', 'cherry', 'banana', 'papaya', 'apple', 'pineapple'}

In [3]:
# The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)
print(thisset)

{'kiwi', 'cherry', 'banana', 'apple', 'orange'}

Remove Item

In [4]:
# To remove an item in a set, use the remove(), or the discard() method.
# If the item to remove does not exist, remove() will raise an error.
# If the item to remove does not exist, discard() will NOT raise an error.
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [5]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

In [6]:
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

In [9]:
# You can also use the pop() method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.
# The return value of the pop() method is the removed item.
# Remove the last item by using the pop() method

thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print("removed element",x)
print(thisset)

removed element banana
{'cherry', 'apple'}

In [10]:
# The clear() method empties the set
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset, "#set elements are removed and set is empty")

set() #set elements are removed and set is empty

In [12]:
# The del keyword will delete the set completely
thisset = {"apple", "banana", "cherry"}
del thisset
# print(thisset) #this will raise an error

In [13]:
# Loop through the set, and print the values
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [14]:
# There are several ways to join two or more sets in Python.
# You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [15]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'a', 'c'}

Both union() and update() will exclude any duplicate items

In [16]:
# The intersection_update() method will keep only the items that are present in both sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [17]:
# intersection Return a set that contains the items that exist in both set x, and set y
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [18]:
# The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'google', 'banana', 'cherry', 'microsoft'}

In [19]:
# The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'google', 'banana', 'cherry', 'microsoft'}

In [20]:
#issuperset
# Return True if all items set y are present in set x
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.issuperset(y)
print(z)

True

In [21]:
# What if not all items are present in the specified set?
# Return False if not all items in set y are present in set x
x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c"}
z = x.issuperset(y)
print(z)

False

In [23]:
# issubset() Method
# Return True if all items in set x are present in set y
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y)
print(z)

True

In [24]:
# Return False if not all items in set x are present in set y:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b"}
z = x.issubset(y)
print(z)

False

In [25]:
# isdisjoint() Method
# Return True if no items in set x is present in set y
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)
print(z)

True

In [26]:
# Return False if one ore more items are present in both sets:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.isdisjoint(y)
print(z)

False

## ***Dictionaries***

In [27]:
# Dictionaries are used to store data values in key:value pairs.
# A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
# Dictionaries are written with curly brackets, and have keys and values
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [33]:
# Dictionary items are presented in key:value pairs, and can be referred to by using the key name.
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])
# There is also a method called get() that will give you the same result
x = thisdict.get("brand")
print(x)

Ford
Ford

In [30]:
# As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.
# Dictionaries cannot have two items with the same key
# Duplicate values will overwrite existing values
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [31]:
# Print the number of items in the dictionary
print(len(thisdict))

3

In [32]:
# The values in dictionary items can be of any data type
thisdict =	{
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
} 
print(thisdict["colors"])
print(type(thisdict))

['red', 'white', 'blue']
<class 'dict'>

In [34]:
# The keys() method will return a list of all the keys in the dictionary.
x = thisdict.keys() 
print(x)

# The list of the keys is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the keys list.
# Add a new item to the original dictionary, and see that the keys list gets updated as well
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()
print(x) #before the change
car["color"] = "white"
print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [35]:
# The values() method will return a list of all the values in the dictionary
x = thisdict.values() 
print(x)

dict_values(['Ford', 'Mustang', 1964])

In [36]:
# any changes done to the dictionary will be reflected in the values list
# Make a change in the original dictionary, and see that the values list gets updated as well
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()
print(x) #before the change
car["year"] = 2020
print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [37]:
# The items() method will return each item in a dictionary, as tuples in a list
x = thisdict.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [39]:
# To determine if a specified key is present in a dictionary use the in keyword
# Check if "model" is present in the dictionary
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [40]:
# The update() method will update the dictionary with the items from the given argument.
# The argument must be a dictionary, or an iterable object with key:value pairs.
# Update the "year" of the car by using the update() method
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [41]:
# Adding an item to the dictionary is done by using a new index key and assigning a value to it
# The update() method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.
# The argument must be a dictionary, or an iterable object with key:value pairs.
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [42]:
# The clear() method empties the dictionary
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [43]:
# There are several methods to remove items from a dictionary
# The pop() method removes the item with the specified key name
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [44]:
# The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead)
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [45]:
# The del keyword removes the item with the specified key name
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [46]:
# The del keyword can also delete the dictionary completely
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
# print(thisdict) #this will cause an error because "thisdict" no longer exists.

In [48]:
# You can loop through a dictionary by using a for loop.
# When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.
# Print all key names in the dictionary, one by one
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

In [49]:
# Print all values in the dictionary, one by one
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [50]:
# You can also use the values() method to return values of a dictionary
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [51]:
# You can use the keys() method to return the keys of a dictionary
for x in thisdict.keys():
  print(x)

brand
model
year

In [53]:
# Loop through both keys and values, by using the items() method
for x, y in thisdict.items():
  print(x,":", y)

brand : Ford
model : Mustang
year : 1964

In [54]:
# ou cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.
# There are ways to make a copy, one way is to use the built-in Dictionary method copy().
# Make a copy of a dictionary with the copy() method
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [55]:
# Another way to make a copy is to use the built-in function dict().
# Make a copy of a dictionary with the dict() function
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [57]:
# A dictionary can contain dictionaries, this is called nested dictionaries.
# Create a dictionary that contain three dictionaries
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
} 
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [58]:
# You can add three dictionaries into a new dictionary.Create three dictionaries, then create one dictionary that will contain the other three dictionaries
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}  
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [60]:
# setdefault() Method
# Get the value of the "model" item
# The setdefault() method returns the value of the item with the specified key.
# If the key does not exist, insert the key, with the specified value, see example below
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)

Mustang

In [61]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.setdefault("color", "white")
print(x)

white

In [62]:
# fromkeys() Method
# Create a dictionary with 3 keys, all with the value 0
x = ('key1', 'key2', 'key3')
y = 0
thisdict = dict.fromkeys(x, y)
print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [63]:
x = ('key1', 'key2', 'key3')
thisdict = dict.fromkeys(x)
print(thisdict)

{'key1': None, 'key2': None, 'key3': None}