1. Write a Python program to create a set

In [1]:
set1={}

2.Write a Python program to add member(s) in a set.

In [2]:
set1={1,4,2,4,6,8,0,9}

3.Write a Python program to add string , int, list and float member(s) in a set.

In [26]:
set1.add("a")
set1.add("str")
set1.add(2.36)
lisst=[1,2,3]
set1.add(25)
set1.update(lisst)
set1

{0, 1, 12, 13, 15, 16, 2, 2.36, 25, 3, 4, 5, 6, 8, 9, 'a', 'str'}

4.Write a program to add multiple element in set.

In [27]:
set2={50,60,70,80,90,100}
set1.update(set2)
set1

{0,
 1,
 100,
 12,
 13,
 15,
 16,
 2,
 2.36,
 25,
 3,
 4,
 5,
 50,
 6,
 60,
 70,
 8,
 80,
 9,
 90,
 'a',
 'str'}

5. What is the output :
my_set = {1, 3, 4, 5, 6}

Explain the difference between discard and remove method in set

In [21]:
my_set={1,3,4,5,6}
my_set
#no error or exception if element is not present in set
my_set.discard(8)
my_set
#generates error if element not found
my_set.remove(8)
my_set

KeyError: ignored

6. can we include duplicate values in sets?

In [22]:
#duplicate values rae not allowed in sets, if add duplicate value, set will have only one instance of that value
setd={0,1,1,2,1,3,5,6,3}
setd

{0, 1, 2, 3, 5, 6}

7. create 2 sets and find out the union and intersection

In [24]:
seta={1,2,3,4,5}
setb={4,5,6,7,8,9}
#union
seta.union(setb)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [25]:
#intersection
seta.intersection(setb)

{4, 5}